
@mixin submitButton {
  height: 50px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-align: center;
  justify-self: center;
  &:focus {
    outline: none;
  }
}

.home {
  background-color: rgba(207,207,207,.06);
  display: grid;
  justify-items: center;
  grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  align-self: center;
  &-skew {
    -webkit-clip-path: polygon(0 0,100% 0%, 100% 50%, 0 100%);
    clip-path: polygon(0 0,100% 0%, 100% 50%, 0 100%);
    top: 0;
    left: 0;
    position: fixed;
    height: 495px;
    width: 100vw;
    background-color: #444;
    z-index: -10;
  }
  &-border {
    -webkit-clip-path: polygon(0 93% ,100% 43%, 100% 50%, 0 100%);
    clip-path: polygon(0 93%,100% 43%, 100% 50%, 0 100%);
    top: 0;
    left: 0;
    position: fixed;
    height: 495px;
    width: 100vw;
    background-color: #00cb79;
    z-index: -10;
  }
  h1 {
    font-weight: bolder;
    font-size: 36px;
    line-height: 44px;
  }
  p {
    color: rgba(255,255,255,0.75);
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
    width: 403px;
  }
}

.card {
  height: 736px;
  width: 1240px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .08);
  border-radius: 8px;
  background-color: white;

  display: grid;
  grid-template-rows: 1fr 50px;

  &-inputs {
    height: 575px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }
  &-generate {
    background-color: #00CB79;
  @include submitButton();
  }
  &-clear {
    background-color: #45b0e5;
    @include  submitButton();
  }
}

.input {
font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];
  text-align: center;
  grid-column-gap: 8px;
  &-title {
    border-top: solid 1px #B3B3B3;
    color: #B3B3B3;
    font-size: 12px;
    font-weight: 300;
    grid-column: input-s/input-e;
  }

  input {
    text-align: center;
    grid-column: input-s/input-e;
    border: none;
    font-size: 15px;
    margin: 4px 0;
    transition: all .3s ease;
    &:focus {
      outline: none;
    }
    &:focus ~ .input-title {
      color: #00cb79;
      border-color: #00cb79;
      font-weight: 600;
    }
  }
  &-number {
    grid-column: number-s/number-e;
    background-color: #00cb79;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    height: 26px;
    width: 26px;
  }
}